* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  

body {
    font-family: "Barlow Condensed", sans-serif;
  }

  .max-width {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #73AD21;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(
      134.34% 134.34% at 50% 0%,
      #1f3757 0%,
      #131537 100%
    );
  }
  
  .scoreboard {
    width: 700px;
    height: 150px;
    border-radius: 15px;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }
  
  .title {
    padding-left: 30px;
  }
  
  .score {
    width: 150px;
    height: 114px;
    background-color: white;
    border: 1px solid white;
    border-radius: 8px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .score h1 {
    color: #565468;
    font-size: 56px;
    font-family: "Barlow", sans-serif;
  }
  
  .score p {
    color: #2a45c2;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 2.5px;
    text-align: left;
  }
  
  .hands {
    background-image: url("/images/bg-triangle.svg");
    background-position: center;
    background-repeat: no-repeat;
    visibility: visible;
    opacity: 1;
    position: relative;
    width: 600px;
    height: 500px;
    margin-top: 100px;
    display: flex;
    z-index: 0;
    flex-wrap: wrap;
    justify-content: center;
  }
  .hands img {
    width: 200px;
    height: 200px;
    display: block;
  }
  
  .hands .paper {
    margin-right: 20px;
    background-color: #bbb;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    display: inline-block;
    border: 10px solid rgb(0, 38, 255);
  }
  
  .hands .scissors {
    margin-left: 20px;
    background-color: #bbb;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    display: inline-block;
    border: 10px solid rgb(255, 251, 0);
  }

  .hands .rock {
    margin-left: 20px;
    background-color: #bbb;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    display: inline-block;
    border: 10px solid rgb(255, 0, 0);
  }
  
  .hands .hand {
    cursor: pointer;
    transition: all 0.25s;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    
    
  }
  
  .hands .hand:hover {
    transform: translate3d(0px, -8px, 0px);
  }
  
  .contest {
    display: none;
    margin-top: 50px;
    width: 900px;
  }
  
  .contest img {
    width: 275px;
    height: 275px;
  }
  
  .contest > div {
    flex: 1;
  }
  
  .contest h1 {
    color: white;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
  }
  
  .contest .newGame {
    color: hsl(229, 25%, 31%);
    background-color: white;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.15s;
  }
  
  .newGame:hover {
    background: rgb(218, 218, 218);
    transform: translate3d(0px, -2px, 0px);
  }
  
  .contest .handImageContainer {
    display: flex;
    justify-content: center;
    background-color: #bbb;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    border: 10px solid rgb(0, 0, 0);

  }
  
  .referee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .referee h1 {
    font-size: 45px;
    color: white;
  }
  
  .computerhand {
    display: flex;
    flex-direction: column;
  }

  .rules {
    color: hsl(0, 0%, 100%);
    padding: 12px 24px;
    transition: all 0.15s;
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: center;
    border-radius: 15px;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    background: radial-gradient(
      134.34% 134.34% at 50% 0%,
      #1f3757 0%,
      #131537 100%
    );
    cursor: pointer;
  }

  
  
  /* MODAL
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: block;
    max-width: 700px;
    text-align: center;
      
    
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  